.git
.env
.env.*
*.env
**/*.env
**/.env
**/.env.*
**/*.secret
**/secrets/**
!.env.example
node_modules
**/dist
.devcontainer/authorized_keys
.devcontainer/proxy.env
.devcontainer/npmrc
.devcontainer/ca.pem
